{% extends "./layouts/base.html" %}

{% block 'content' %}
    <h1>Home</h1>   
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos aliquam at aliquid cumque beatae rem quasi voluptates dolores doloremque alias ab neque voluptatibus, autem aperiam facilis qui nostrum similique!</span>
        <span>At assumenda aspernatur, dignissimos quos architecto exercitationem, ullam voluptatum nesciunt dicta nobis, velit odio illo doloremque? Mollitia, voluptatum, fuga recusandae pariatur, commodi nostrum provident facilis ipsam qui iusto distinctio corporis.</span>
        <span>Adipisci aperiam eos fugiat, sint hic praesentium eligendi dignissimos in officiis ducimus esse aliquid omnis molestiae ipsam repudiandae. Doloribus, voluptatem! Deserunt natus facilis nemo! Ducimus quasi mollitia magnam beatae quo.</span>
    </p>
{% endblock 'content' %}